#
# ETrun test config file example
#
# *This file is for other OS than OSX and Linux.*
#
# How to use it?
#
# 1) Make a copy of this example file and
# rename it to "other.config" so that it
#
# 2) Edit your copy and set correct values
# according to your system
#
# 3) Save your copy and run test.sh script
# Your config will be automatically loaded
#

#
# Mod name
#
mod_name='etrun'

#
# Mod pk3 archive name
#
pk3_name="$mod_name.pk3"

#
# Mod modules names
#
qagame_name='qagame_mp_x86.dll'
cgame_name='cgame_mp_x86.dll'
ui_name='ui_mp_x86.dll'

#
# Default map
#
default_map='goldrush'



#################################################
###           W:ET install settings           ###
#################################################
#
# Path to your game install directory
#
et_base_path='C:\Program Files (x86)\ETdev'

#
# Path to your game directory in your home
#
et_home_path='C:\Program Files (x86)\ETdev'

#
# Path to your ET dedicated binary
#
et_dedicated_binary_path='C:\Program Files (x86)\ETdev\ETDED.exe'

#
# Path to your ET binary
#
et_binary_path='C:\Program Files (x86)\ETdev\ET.exe'
#################################################



#################################################
###        ET: Legacy install settings        ###
###        (ignore if you don't use it)       ###
#################################################
#
# Path to your game install directory
#
etl_base_path='C:\Program Files (x86)\ETdev'

#
# Path to your ET: Legacy game directory in your home
#
etl_home_path='C:\Program Files (x86)\ETdev'

#
# Path to your ET: Legacy dedicated binary
#
etl_dedicated_binary_path='C:\Program Files (x86)\ETdev\etlded.exe'

#
# Path to your ET: Legacy binary
#
etl_binary_path='C:\Program Files (x86)\ETdev\etl.exe'
#################################################



#################################################
### API settings, ignore if you don't use API ###
#################################################
#
# APImodule name
#
APImodule_name=''

#
# APImodule dir
#
APImodule_dir=''
#################################################



#################################################
###            Mapscripts settings            ###
#################################################
#
# MapScripts dir
#
mapscripts_dir=''
#################################################



#################################################
###          Maxmind GeoIP settings           ###
#################################################
#
# Path to Maxmind Geolite2 country database
#
maxmind_geoip_path=""
#################################################



#################################################
###             Valgrind options              ###
###     (ignore if you don't use Valgrind)    ###
#################################################
#
# Valgrind command line
#
valgrind_command_line=''
#################################################