# Binaries
_build/*
!_build/empty

# Compilation related
_build/*/*.*
src/*/.deps
src/*/.libs
src/*/*.lo
src/*/*.la
src/*/*.o

# Autotools related
autom4te.cache/
aclocal.m4
Makefile
config.h
config.status
libtool
stamp-h1

# VS related
ipch/
*.sdf
*.opensdf
*.ncb

# Others
*~
*.log
.DS_Store
