[submodule "libs/pthreads-win32"]
	path = libs/pthreads-win32
	url = https://github.com/ETrun/pthreads-win32.git
[submodule "libs/libmaxminddb"]
	path = libs/libmaxminddb
	url = https://github.com/maxmind/libmaxminddb.git
