# Binaries
_build/*
!_build/empty

# Compilation related
_build/*/*.*
.deps
.libs
*.lo
*.la
*.o
*.obj

# Autotools related
autom4te.cache/
aclocal.m4
Makefile
Makefile.in
configure
config.h
config.h.in
config.status
libtool
stamp-h1
build-aux
m4

# VS related
ipch/
*.sdf
*.opensdf
*.ncb
.suo

# Xcode related
src/*.xcodeproj/project.xcworkspace
src/*.xcodeproj/xcuserdata

# curl related
src/libs/curl-7.25.0/curl-config
src/libs/curl-7.25.0/include/curl/stamp-h3
src/libs/curl-7.25.0/*/curl_config.h
*.vers
*.pc
*.spec
*.list
src/libs/curl-7.25.0/src/curl
src/libs/curl-7.25.0/src/stamp-h2
src/libs/curl-7.25.0/tests/configurehelp.pm

# Others
*~
*.log
.DS_Store
