[submodule "src/APImodule"]
	path = src/APImodule
	url = git@bitbucket.org:boutetnico/etrun_apimodule.git
[submodule "wiki"]
	path = wiki
	url = git@github.com:boutetnico/ETrun.wiki.git
[submodule "src/libs/curl"]
	path = src/libs/curl
	url = git@github.com:boutetnico/curl.git
[submodule "src/libs/c-ares"]
	path = src/libs/c-ares
	url = git@github.com:boutetnico/c-ares.git
