#---------------------------------#
#      general configuration      #
#---------------------------------#

version: 1.3.0-{build}

branches:
  only:
    - master
    - appveyor

#---------------------------------#
#    environment configuration    #
#---------------------------------#

# Build worker image (VM template)
image: Visual Studio 2013

# scripts that are called at very beginning, before repo cloning
init:
  - git config --global core.autocrlf input

environment:
  VisualStudioVersion: '10.0'

# scripts that run after cloning repository
install:
  - cmd: git submodule update --init

#---------------------------------#
#       build configuration       #
#---------------------------------#

# build platform, i.e. x86, x64, Any CPU. This setting is optional.
platform: x86

configuration:
 - Debug
 - Release

build:
  verbosity: detailed

build_script:
  - mkdir build
  - cd build
  - cmake ..
  - cmake --build .
